{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Team Task Manager{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    </head>

    <body>
        <header>
            {% if user.is_authenticated %}
                Hi {{ user.username }} |
                <a href="{% url 'tasks:team_list' %}">My Teams</a> |
                <a href="{% url 'tasks:my_tasks' %}">My Tasks</a>
                <form action="{% url 'tasks:logout' %}" method="post" style="display: inline; float: right;">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% endif %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>