{% extends "tasks/base.html" %}

{% block title %} {{ team.name }} — Tasks {% endblock %}

{% block content %}
    <h2> Tasks for {{ team.name }} </h2>
    <a href="{% url 'tasks:team_detail' pk=team.pk %}">&larr; Back to Team</a>
    {% if allowed %}
    | <a href="{% url 'tasks:add_task' pk=team.pk %}"> Add New Task </a>
    {% endif %}
    
    {% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                {{task.title}} — {{task.assignee}} — {{task.get_status_display}} — {{task.created_by}} — {{task.created_at|date:"M d, Y"}}
                {% if allowed %}
                    <a href="{% url 'tasks:edit_task' pk=task.pk %}"> Edit </a>
                    <a href="{% url 'tasks:delete_task' pk=task.pk %}"> Delete </a>
                {% endif %}
                <a href="{% url 'tasks:comment_list' pk=task.pk %}"> View Comments </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This team doesn't have any tasks yet</p>
    {% endif %}
{% endblock %}